<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fd</display-name>
    <servlet-name>Fd</servlet-name>
    <servlet-class>Fd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fd</servlet-name>
    <url-pattern>/Fd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>SD</display-name>
    <servlet-name>SD</servlet-name>
    <servlet-class>SD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD</servlet-name>
    <url-pattern>/SD</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>SDo</display-name>
    <servlet-name>SDo</servlet-name>
    <servlet-class>SDo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDo</servlet-name>
    <url-pattern>/SDo</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>