
body
{
background-image:url(main.jpg);

background-size:100% ;



}
div.container
{
width:960px;
border=1px solid blue;

}



header{
padding:5px;
color:black;
background-color:#0c6996;
text-align:center;
border:1px solid black;

}
ul
{
List-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:black;
}
li
{
float:left;
}
li a
{ 
display:block;
color:white;
text-align:center;
padding:14px 16px;
text-decoeation:none;
}
li a:hover
{
background-color:#111;
}







article
{
margin-center:100px;
background-color:051019;
padding:5px;

width:100%;
background-color:051019;
opacity:0.8;
padding:50px 0px;


}

footer
{
padding:5px;
color:black;
background-color:pink;
text-align:center;
border:1px solid red;
text:bottom;
}



.simple-form
{
text-align:center;
margin:100px 200px;
}
#registration
{

background-color:051019;
opacity:0.8;
padding:50px 0px;
}

#button
{
outline:0px;
width:250px;
padding:10px;
border-radius:5px;
}

#phone
{
width:250px;
padding:10px;
border-radius:5px;
outline:0px;
}
#rd
{

}
#but
{
color:white;
fount-size:18px;
}
#butt
{
width:250px;
padding:10px;
border-radius:5px;
outline:0px;
background-color:#0c6996;
border:2px solid #01010c;
color:aliceblue;
fount-size:18px;
}
}

}



